# TASK 11.1
## Zadanie: ceny akcji

1. Pobierz dane dotyczące cen akcji KGHM oraz cen miedzi.
2. Stwórz dwa osobne wykresy liniowe (jeden pod drugim) – jeden niech przedstawia ceny zamknięcia KGHM, drugi niech przedstawia ceny miedzi (na podstawie kolumn "Zamknięcie").
3. Jako trzeci element wykresu dodaj tabelę zestawiającą ceny zamknięcia KGHM oraz miedzi w kolejnych dniach (ponownie na podstawie kolumny "Zamknięcie").
4. Wykresowi nadaj odpowiednie tytuły, zadbaj, aby wykresy miały wspólną oś x.

In [2]:
# import package
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
init_notebook_mode(connected = True)
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [3]:
# import data
kghm = pd.read_csv('kgh_d.csv')
cu_price = pd.read_csv('ca_c_f_d.csv')
display(kghm.head())
display(cu_price.head())

         Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie  Wolumen
0  2015-01-02    102.45     102.83     101.97      102.40   309987
1  2015-01-05    102.16     102.88      99.91      100.09   479228
2  2015-01-07    100.53     105.45      99.67      104.89   966372
3  2015-01-08    105.35     107.15     105.35      107.11   711805
4  2015-01-09    107.15     107.15     103.87      104.33   563221

         Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie
0  2015-01-02    6309.0     6309.0     6309.0      6309.0
1  2015-01-05    6216.0     6216.0     6216.0      6216.0
2  2015-01-06    6191.0     6191.0     6191.0      6191.0
3  2015-01-07    6170.0     6170.0     6170.0      6170.0
4  2015-01-08    6230.5     6230.5     6230.5      6230.5