# Global population

In [2]:
# import package to analysis
import numpy as np
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# init_notebook_mode - to show plotly in Notebook's output
init_notebook_mode(connected = True)
import matplotlib.pyplot as plt
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly import subplots
import plotly.figure_factory as ff

In [3]:
# import dataset
population = pd.read_csv('world_population.csv', sep = ',')
print("Dataset info")
display(population.info())
print("Dataset description")
display(population.describe())
print("Dataset first rows")
display(population.head())

Dataset info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

None

Dataset description

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,234.000000,234.000000,234.000000
mean,117.500000,3.407441e+07,3.350107e+07,3.172996e+07,2.984524e+07,2.626947e+07,2.271022e+07,1.898462e+07,1.578691e+07,5.814494e+05,452.127044,1.009577,0.427051
std,67.694165,1.367664e+08,1.355899e+08,1.304050e+08,1.242185e+08,1.116982e+08,9.783217e+07,8.178519e+07,6.779509e+07,1.761841e+06,2066.121904,0.013385,1.714977
min,1.000000,5.100000e+02,5.200000e+02,5.640000e+02,5.960000e+02,6.510000e+02,7.000000e+02,7.330000e+02,7.520000e+02,1.000000e+00,0.026100,0.912000,0.000000
25%,59.250000,4.197385e+05,4.152845e+05,4.046760e+05,3.931490e+05,3.272420e+05,2.641158e+05,2.296142e+05,1.559970e+05,2.650000e+03,38.417875,1.001775,0.010000
50%,117.500000,5.559944e+06,5.493074e+06,5.307400e+06,4.942770e+06,4.292907e+06,3.825410e+06,3.141146e+06,2.604830e+06,8.119950e+04,95.346750,1.007900,0.070000
75%,175.750000,2.247650e+07,2.144798e+07,1.973085e+07,1.915957e+07,1.576230e+07,1.186923e+07,9.826054e+06,8.817329e+06,4.304258e+05,238.933250,1.016950,0.280000
max,234.000000,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,9.823725e+08,8.225344e+08,1.709824e+07,23172.266700,1.069100,17.880000

Dataset first rows

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [51]:
# raname columns
population.rename(columns = {'1970 Population' : '1970', '1980 Population' : '1980', '1990 Population' : '1990', '2000 Population' : '2000', '2010 Population' : '2010', '2015 Population' : '2015', '2020 Population' : '2020', '2022 Population' : '2022'}, inplace = True)
population

,Rank,CCA3,Country/Territory,Capital,Continent,2022,2020,2015,2010,2000,1990,1980,1970,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

# Analiza populacji w zależności od kontynentu

In [52]:
population_by_continent = population.pivot_table(index = {'Continent'}, aggfunc = 'sum')
population_by_continent.reset_index(inplace = True)

display(population_by_continent)

TypeError: '<' not supported between instances of 'int' and 'str'

In [14]:
world_population = {
    'Continent' : 'Whole world',
    '1970 Population' : population_by_continent['1970 Population'].sum(),
    '1980 Population' : population_by_continent['1980 Population'].sum(),
    '1990 Population' : population_by_continent['1990 Population'].sum(),
    '2000 Population' : population_by_continent['2000 Population'].sum(),
    '2010 Population' : population_by_continent['2010 Population'].sum(),
    '2015 Population' : population_by_continent['2015 Population'].sum(),
    '2020 Population' : population_by_continent['2020 Population'].sum(),
    '2022 Population' : population_by_continent['2022 Population'].sum(),
    'Area (km²)' : population_by_continent['Area (km²)'].sum(),
    'Density (per km²)' : population_by_continent['Density (per km²)'].sum(),
    'Growth Rate' : population_by_continent['Growth Rate'].sum(),
    'Rank' : population_by_continent['Rank'].sum(),
    'World Population Percentage' : population_by_continent['World Population Percentage'].sum()
}

print(f"World population: \n{world_population}")

World population:
{'Continent': 'World', '1970 Population': 3694136661, '1980 Population': 4442400371, '1990 Population': 5314191665, '2000 Population': 6147055703, '2010 Population': 6983784998, '2015 Population': 7424809761, '2020 Population': 7839250603, '2022 Population': 7973413042, 'Area (km²)': 136059156, 'Density (per km²)': 105797.72819999998, 'Growth Rate': 236.24110000000002, 'Rank': 27495, 'World Population Percentage': 99.93}

In [18]:
# add world to data
world_population = pd.DataFrame(world_population, index = [6])
population_of_world = pd.concat([population_by_continent, world_population])
display(population_of_world)

,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,Area (km²),Density (per km²),Growth Rate,Rank,World Population Percentage
0,Africa,365444348,481536377,638150629,818946032,1055228072,1201102442,1360671810,1426730932,30317963,7127.7158,58.2109,5253,17.87
1,Asia,2144906290,2635334228,3210563577,3735089604,4220041327,4458250182,4663086535,4721383274,32138141,51251.2068,50.4692,3878,59.19
2,Europe,655923991,692527159,720320797,726093423,735613934,741535608,745792196,743147538,23010411,33166.2371,50.1128,6225,9.33
3,North America,315434606,368293361,421266425,486069584,542720651,570383850,594236593,600296136,24244178,10910.4703,40.1670,6437,7.51
4,Oceania,19480270,22920240,26743822,31222778,37102764,40403283,43933426,45038554,8515081,3048.4905,23.1698,4336,0.55
5,South America,192947156,241789006,297146415,349634282,393078250,413134396,431530043,436816608,17833382,293.6077,14.1114,1366,5.48
6,World,3694136661,4442400371,5314191665,6147055703,6983784998,7424809761,7839250603,7973413042,136059156,105797.7282,236.2411,27495,99.93

In [29]:
population_by_years = population_of_world[['Continent','1970 Population', '1980 Population', '1990 Population', '2000 Population', '2015 Population', '2020 Population', '2022 Population']]

population_of_world_years = population_by_years.T # population_of_world.transpose()
population_of_world_years.reset_index(inplace = True)
population_of_world_years.columns = population_of_world_years.iloc[0]
population_of_world_years.drop(population_of_world_years.index[0], inplace = True)
population_of_world_years.rename(columns = {'Continent' : 'Year'}, inplace = True)
display(population_of_world_years)

,Year,Africa,Asia,Europe,North America,Oceania,South America,World
1,1970 Population,365444348,2144906290,655923991,315434606,19480270,192947156,3694136661
2,1980 Population,481536377,2635334228,692527159,368293361,22920240,241789006,4442400371
3,1990 Population,638150629,3210563577,720320797,421266425,26743822,297146415,5314191665
4,2000 Population,818946032,3735089604,726093423,486069584,31222778,349634282,6147055703
5,2015 Population,1201102442,4458250182,741535608,570383850,40403283,413134396,7424809761
6,2020 Population,1360671810,4663086535,745792196,594236593,43933426,431530043,7839250603
7,2022 Population,1426730932,4721383274,743147538,600296136,45038554,436816608,7973413042

In [27]:
columns = population_of_world['Continent'].to_numpy()
print(columns)
dictionary = {}
for col in columns:

['Africa' 'Asia' 'Europe' 'North America' 'Oceania' 'South America'
 'World']